.details-container {
    display: flex;
    margin: 6rem 15rem;
}
.movie-poster {
    height: 550px;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 1rem;
}
.movie-title {
    margin: 0 3rem;
    width: 1200px;
}
.details-container-mobile {
    display: none;
    margin: 5rem 1rem;
}
.rating-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 3rem;
}
@media (max-width: 1165px) {
    .details-container {
      display: none;
    }
    .details-container-mobile {
        display: initial;
    }
    .my-container {
        margin: 6rem 1rem !important;
    }
    .rating-wrapper {
        margin: 0;
        align-items: center;
        flex-wrap: wrap;
    }
}

/* MOBILE */
.main-info-mobile {
    margin-bottom: 4rem;
}
.movie-poster-mobile {
    margin: 0.7rem;
    width: 160px;
    height: 238px;
    border-radius: 5px;
    border: 1px solid;
    float: right;
}