.details-container {
    display: flex;
    margin: 1.7rem auto;
    max-width: 75%
}
.movie-poster {
    height: 550px;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 1rem;
}
.movie-title {
    margin: 0 3rem;
    width: 1200px;
}
.details-container-mobile {
    display: none;
    margin: 5rem 1rem;
}
.rating-wrapper {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 3rem;
}
.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.similar-movies {
    margin: 1.5rem auto;
}
.similar-movie-img {
    height: 300px;
    max-width: 225px;
    border-radius: 5px;
    border: 1px solid;
}
.similar-movie-img:hover {
    border: 1px solid #bf94ff;
}

@media (max-width: 1200px) {
    .details-container {
      display: none;
    }
    .details-container-mobile {
        display: initial;
        max-width: 80%;
        margin: 1.3rem auto; 
    }
    .similar-movies {
        display: none;
    }
    .my-container {
        max-width: 95%;
    }
    .rating-wrapper {
        margin: auto;
        align-items: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) {
    .my-container, .details-container-mobile {
        max-width: 95%;
    }
}

/* MOBILE */
.main-info-mobile {
    margin-bottom: 4rem;
}
.movie-poster-mobile {
    margin: 0.7rem;
    width: 160px;
    height: 238px;
    border-radius: 5px;
    border: 1px solid;
    float: right;
}